<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :username %><br />
    <%= f.text_field :username, class: "form-control" %>
  </div>

   <div class="form-group">
    <%= f.label :birthday %><br />
    <%= f.date_select "birthday", prompt: {day: 'Select day', month: 'Select month', year: 'Select year'}, start_year: Date.today.year - 100, end_year: Date.today.year %>
  </div>

  <div class="form-group">
    <%= f.label :gender %> <br>
    <%= f.radio_button :gender, "male" %>
    <%= f.label :gender, "male" %>
    <%= f.radio_button :gender, "female" %>
    <%= f.label :gender, "female" %>
  </div>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <%= f.label :interests %> <i>(please select at least 2)</i>
  <% interests.group_by(&:category).each_with_index do |(category, interests), index| %>
  <div class="panel-group" id="accordion<%= index %>" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading<%= index %>">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion<%= index %>" href="#collapse<%= index %>" aria-expanded="true" aria-controls="collapse<%= index %>">
           <%= category %>
          </a>
        </h4>
      </div>
      <div id="collapse<%= index %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= index %>">
        <div class="panel-body">
        <% interests.group_by(&:subcategory).each do |subcategory, interests| %>
           <div class="panel-group" id="accordion-<%= subcategory.gsub(' ','-') %>">
            <div class="panel panel-default">
              <div class="panel-heading" id="heading-<%= subcategory.gsub(' ','-') %>">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion-<%= subcategory.gsub(' ','-') %>" href="#collapse-<%= subcategory.gsub(' ','-') %>" aria-expanded="true" aria-controls="collapse-<%= subcategory.gsub(' ','-') %>">
                   <%= subcategory %>
                  </a>
                </h4>
              </div>
              <div id="collapse-<%= subcategory.gsub(' ','-') %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-<%= subcategory.gsub(' ','-') %>">
                <div class="panel-body">
                  <% interests.each do |interest| %>
                  <%= f.check_box :interests, {multiple: true}, interest.name, nil %>
                  <%= f.label interest.name %> <br>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

  <div class="form-group">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="form-group">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
