<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :username %><br />
    <%= f.text_field :username, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :birthday %><br />
    <%= f.date_select "birthday", prompt: {day: 'Select day', month: 'Select month', year: 'Select year'}, start_year: Date.today.year - 100, end_year: Date.today.year %>
  </div>

  <div class="form-group">
    <%= f.label :gender %> <br>
    <%= f.radio_button :gender, "male" %>
    <%= f.label :gender, "male" %>
    <%= f.radio_button :gender, "female" %>
    <%= f.label :gender, "female" %>
  </div>

  <div class="form-group">
    <%= f.label :interests %> <i>(please select at least 2)</i> <br>
    <% interests.group_by(&:category).each do |category, interests| %>
      <strong><h4><%= category %></h4></strong>

      <% interests.group_by(&:subcategory).each do |subcategory, interests| %>
      <strong><h5><%= subcategory %></h5></strong>
      
        <% interests.each do |interest| %>
        <%= f.check_box :interests, {multiple: true}, interest.name, nil %>
        <%= f.label interest.name %> <br>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
