<div class="grid">

	<% if user_signed_in? %>

			<% if notifications.count > 0 %>
			<div class="jumbotron">
		    <%= image_tag("people.png", width: "150px", height: "150px", class: "pull-left", style: "margin-right: 40px;") %>
		      <div class="container celebrate">
		        <h2><%= current_user.name %>, some of your friends are celebrating!</h2>
						<% notifications.each do |n| %>
							<p><%= n %></p>
						<% end %>
		  		</div>
		  </div>
		  <% end %>

	<%= link_to new_gift_path do %>
			<div class="well add-new">
				<div class="plus-sign">
					<i class="glyphicon glyphicon-plus"></i>
				</div>
				<br>
				Add A Gift
			</div>
		<% end %>
<% end %>

		<div class="clearfix"></div>

	<% @gifts.each do |gift| %>
	<% if user_signed_in? && (current_user.following.include?(gift.user_id.to_s)|| gift.user_id == current_user.id) %>
	<div class="well">
		<div class="title">
			<h3><%= link_to gift.name.titlecase, gift %></h3>
			<%= link_to gift do %>
				<% if gift.image_file_name.nil? %>
					<%= image_tag gift.image_remote_url %>
				<% else %>
					<%= image_tag gift.image.url(:thumb) %>
				<% end %>
			<% end %>
		</div>
		<p><%= gift.description %></p>

		<hr>

		<h6><%= link_to image_tag(gift.user.image.url(:thumb), class: "show-image"), gift.user, class: "pull-left" %></h6>
		<div class="pull-left">
			<h6><%= link_to gift.wishlist.name, gift.wishlist %></h6> 
			<h6><%= link_to "by #{gift.user.username}", gift.user %></h6>
		</div>

			<% if user_signed_in? && current_user.id == gift.user_id %>
			<div class="clearfix"></div>
				<hr>
				<%= link_to "Edit", edit_gift_path(gift), class: "btn btn-primary" %>
				<%= link_to "Delete", gift_path(gift), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
			<% end %>
	</div>
	<% end %>
<% end %>
</div>