<div class="container show">
	<%= image_tag user.image.url(:thumb), class: "profile-image" %>
	<h3><%= user.name %></h3>
	<h3><%= user.username %></h3>
</div>

<hr>

<div class="grid">
	<% user.wishlists.each do |wishlist| %>
		<div class="well">
		<%= link_to image_tag(wishlist.gifts.first.image.url(:thumb)), wishlist %>
		<h3><%= link_to wishlist.name.titlecase, wishlist %></h3>
		</div>
	<% end %>
</div>