<div class="container">

	<%= form_for gift, html: { multipart: true } do |f| %>
	
	<%= f.hidden_field :user_id, value: current_user.id %>

	<div class="form-group">
		<%= f.label :url %>
		<%= f.text_field :url, autofocus: true, class: "form-control" %>
	</div>
	
	<div class="form-group">
		<%= f.label :wishlist_id %> <br>
		<%= f.collection_select :wishlist_id, @wishlists, :id, :name, class: "form-control" %>
	</div>

	<% if !current_user.interests.nil? %>
	<div class="form-group">
		<%= f.label :interest_id, "Does this gift relate to any of your interests? (If not, we'll assign it to the random category.)" %> <br>
		<%= f.collection_select :interest_id, @interests, :id, :name, include_blank: true, class: "form-control", prompt: "Select an interest"%>
	</div>
<% end %>

	<div class="actions">
		<%= f.submit "Create Gift", class: "btn btn-primary" %>
	</div>

	<% end %>

</div>