.container
  = form_for gift, html: { multipart: true } do |f|
    = f.hidden_field :user_id, value: current_user.id
    .form-group
      = f.label :url, "To add a gift, simply	 paste the URL (link) below to gift on the website where you found it:"
      = f.text_field :url, autofocus: true, class: "form-control", placeholder: "http://www.amazon.com/s/&field-keywords=cool+gift"
    .form-group
      = f.label :wishlist_id
      %br/
      = f.collection_select :wishlist_id, @wishlists, :id, :name, class: "form-control"
    - if !current_user.interests.nil?
      .form-group
        = f.label :interest_id, "Does this gift relate to any of your interests? (If not, we'll assign it to the random category.)"
        %br/
        = f.collection_select :interest_id, @interests, :id, :name, include_blank: true, class: "form-control", prompt: "Select an interest"
    .actions
      = f.submit "Create Gift", class: "btn btn-primary"