<h1>Edit Gift</h1>

<div class="container">

	<%= form_for gift, html: { multipart: true } do |f| %>
	
	<%= f.hidden_field :user_id, value: current_user.id %>

	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name, autofocus: true, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :url %>
		<%= f.text_field :url, class: "form-control" %>
	</div>
	
	<div class="form-group">
		<%= f.label :description %>
		<%= f.text_field :description, class: "form-control" %>
	</div>

	<div>
		<%= f.label "Current Image" %> <br>
		<%= image_tag gift.image.url(:thumb) %>
	</div>

	<div>
		<%= f.label "Other Image Options (click below to change image)" %> <br>
		<% @images.each do |image| %>
		<%= link_to image_tag(image, class: 'preview'), {:controller => 'gifts', :action => 'update_image', method: :post, :image => image} %>
		<% end %>
	</div>
	
<br>

<% if !current_user.interests.nil? %>
	<div class="form-group">
		<%= f.label :interest_id, "Does this gift relate to any of your interests? (If not, we'll assign it to the random category.)" %> <br>
		<%= f.collection_select :interest_id, @interests, :id, :name, include_blank: true, class: "form-control", prompt: "Select an interest"%>
	</div>
<% end %>

	<div class="form-group"> 
		<%= f.label :wishlist_id %> <br>
		<%= f.collection_select :wishlist_id, @wishlists, :id, :name, class: "form-control" %>
	</div>
	
	<div class="actions">
		<%= f.submit "Update Gift", class: "btn btn-primary" %>
	</div>

	<% end %>

</div>