<!-- search form -->
<div class="container">

	<%= search_form_for @q, url: search_gifts_path, html: { method: :post } do |f| %>
		
	<div class="form-group">
		<%= f.label :user_gender, "Gender:", class: "form-label" %>
		<%= f.select :user_gender_eq, [["Male", "male"],["Female", "female"]], class: "form-control form-inline", prompt: "Select a gender" %>
	</div>
	
	<div class="form-group">
			<%= f.label :user_age_lteq, "Age between:", class: "form-label" %>
		  <%= f.search_field :user_age_lteq, class: "form-control form-inline" %>
		  <%= f.label :user_age_gteq, "and:" %>
		  <%= f.search_field :user_age_gteq, class: "form-control form-inline" %>
	</div>
	
	<div class="form-group">
		<%= f.label :user_interest, "Interests:", class: "form-label" %>
		<%= f.select :user_interests_cont, @interests, class: "form-control form-inline", prompt: "Select an interest", include_blank: true %>
	</div>
	
	<div class="form-group">
		<%= f.label :wishlist_special_day, "Holiday/Occasion:", class: "form-label" %>
		<%= f.select :wishlist_special_day_cont, @holidays, class: "form-control form-inline", prompt: "Select a holiday/occasion", include_blank: true %>
	</div>
	
		<%= f.submit "Search", class: "btn btn-primary" %>


</div>

<hr>

<!-- end search form -->

	<div class="clearfix"></div>

<!-- Display results -->
<% if !params[:q].nil? %>
	<div class="grid">

	<% if !@gifts.empty? %>
	<% @gifts.each do |gift| %>
	<div class="well">
		<div class="title">
			<h3><%= link_to gift.name.titlecase, gift %></h3>
			<%= link_to gift do %>
				<% if gift.image_file_name.nil? %>
					<%= image_tag gift.image_remote_url %>
				<% else %>
					<%= image_tag gift.image.url(:thumb) %>
				<% end %>
			<% end %>
		</div>
		<p><%= gift.description %></p>

		<hr>

		<h6><%= link_to image_tag(gift.user.image.url(:thumb), class: "show-image"), gift.user, class: "pull-left" %></h6>
		<div class="pull-left">
			<h6><%= link_to gift.wishlist.name, gift.wishlist %></h6> 
			<h6><%= link_to "by #{gift.user.username}", gift.user %></h6>
		</div>

			<% if user_signed_in? && current_user.id == gift.user_id %>
			<div class="clearfix"></div>
				<hr>
				<%= link_to "Edit", edit_gift_path(id: gift.id), class: "btn btn-primary" %>
				<%= link_to "Delete", gift_path(id: gift.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
			<% end %>
	</div>
	<% end %>
<div class="clearfix"></div>
<% else %>
<div class="column-4">
	<h3 class="pull-left">Your search returns no results.</strong></h3> 
	<div class="clearfix"></div>
</div>
<% end %>

<% end %>
</div>
</div>

<% end %>