<div class="well">
	<h2><strong><%= link_to gift.name.titlecase, gift %></strong></h2>
	<%= link_to gift do %>
			<% if gift.image_file_name.nil? %>
				<%= image_tag gift.image_remote_url %>
			<% else %>
				<%= image_tag gift.image.url(:medium) %>
			<% end %>
		<% end %>
	<p><%= link_to "See more from #{gift.wishlist.name}", wishlist_path(id: gift.wishlist_id) %></p>
	<p><%= gift.description %></p>
	<p><%= link_to "Source", gift.url, target: "blank" %></p>
	<hr>
	<% if user_signed_in? && gift.user_id == current_user.id %>
	<%= link_to "Edit", edit_gift_path(id: gift.id), class: "btn btn-primary" %>
	<%= link_to "Delete", gift_path(id: gift.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
	<% end %>
</div>