<div class="well">
	<h2><strong><%= link_to gift.name.titlecase, gift.url, target: "_blank" %></strong></h2>
	<%= link_to gift.url, target: "_blank" do %>
			<% if gift.image_file_name.nil? %>
				<%= image_tag gift.image_remote_url %>
			<% else %>
				<%= image_tag gift.image.url(:medium) %>
			<% end %>
		<% end %>
	<p><%= gift.description %></p>
	<%= link_to "Visit Site", gift.url, target: "blank", class: "btn btn-primary" %>

	<hr>

		<h6><%= link_to image_tag(gift.user.image.url(:thumb), style: "border-radius: 50%;"), gift.user, style: "height: 50px; width: 50px;" %></h6>
		<div>
			<h6><%= link_to gift.wishlist.name, gift.wishlist %></h6> 
			<h6><%= link_to "by #{gift.user.username}", gift.user %></h6>
		</div>

		
	<% if user_signed_in? && gift.user_id == current_user.id %>
	<hr>
	<%= link_to "Edit", edit_gift_path(id: gift.id), class: "btn btn-primary" %>
	<%= link_to "Delete", gift_path(id: gift.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
	<% end %>
</div>