
<div class="container show">
<h1><%= wishlist.name %></h1>

<%= link_to edit_wishlist_path(id: wishlist.id), class: "btn btn-primary" do %>
	<i class="glyphicon glyphicon-pencil"></i> Edit
<% end %>
<%= link_to wishlist_path, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure you want to delete this wishlist and all of the gifts along with it?' } do %>
	<i class="glyphicon glyphicon-remove"></i> Delete Wishlist
<% end %>
</div>

	<%= link_to new_gift_path do %>
	<div class="well col-md-2 add-new">
		<div class="plus-sign">
			<i class="glyphicon glyphicon-plus"></i>
		</div>
		<br>
		Add A Gift
	</div>
	<% end %>

<div class="container">
	<% @gifts.each do |gift| %>
		<div class="well col-md-3">
			<div class="title">
				<h3><%= link_to gift.name.titlecase, gift %></h3>
			<%= link_to gift do %>
			<% if gift.image_file_name.nil? %>
				<%= image_tag gift.url %>
			<% else %>
				<%= image_tag gift.image.url(:thumb) %>
			<% end %>
			</div>
		<% end %>
			<p><%= gift.description %></p>
			<h6><%= link_to "Source", gift.url, target: "blank" %></h6>
		</div>
	<% end %>
</div>

<div class="container">
	<%= link_to "Back to all wishlists", wishlists_path, class: "btn btn-primary" %>
</div>