!!!
%html
  %head
    %title GIFTED
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag 'gift.png'
    %link{:href => "https://fonts.googleapis.com/css?family=Josefin+Sans", :rel => "stylesheet", :type => "text/css"}/
  %body
    %nav.navbar.navbar-default{:role => "navigation"}
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to image_tag("logo.png"), root_path, class: "navbar-brand", style: "margin-top: -10px"
        / Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-ex1-collapse
          = form_tag(gifts_path, :method => "get", class: "navbar-left navbar-form") do
            %div
              = text_field_tag :search, params[:search], class: "form-control", placeholder: "Find Gifts"
              = submit_tag "Submit", class: "btn btn-primary"
              %br/
            = link_to "Advanced Search", search_gifts_path, class: "mini-link pull-left"
          %ul.nav.navbar-nav.navbar-right
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :style => "margin-top: 5px;"}
                Browse
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Wishlists", wishlists_path
                %li= link_to "Gifts", gifts_path
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :style => "margin-top: 5px;"}
                Browse by Interest
                %b.caret
              %ul.dropdown-menu
                - interests.each do |interest|
                  %li= link_to interest.name, interest
                %strong
                  %li= link_to "View All Interests", interests_path, style: "padding-left: 20px"
            - if user_signed_in?
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :style => "margin-top: 5px;"}
                  = current_user.username
                  %b.caret
                %ul.dropdown-menu
                  %li= link_to "Your Profile", user_path(current_user)
                  %li= link_to "Your Feed", users_path
                  %li= link_to "Edit Account", edit_user_registration_path
                  %li= link_to "Sign Out", destroy_user_session_path(id: current_user.id), method: :delete
            - else
              %li= link_to "Sign In", new_user_session_path, style: "margin-top: 5px"
              %li= link_to "Sign Up", new_user_registration_path, style: "margin-top: 5px"
        / /.navbar-collapse
    .container
      - flash.each do |key, value|
        %div{:class => "alert alert-#{key}"}= value
    %div{:class => "container #{controller.controller_path} #{controller.action_name}"}
      = yield